---
import Layout from '../layouts/Layout.astro';
---

<Layout title="McGill Menus">
	<main>
		<h1>McGill Menus</h1>
		<p>Eventually, data will be loaded to this page using an API powered by Netlify functions and Puppeteer. For now, though, enjoy this empty page.</p>
	</main>
</Layout>